client/node_modules
comments/node_modules
posts/node_modules
users/node_modules
queries/node_modules
moderate/node_modules
eventbus/node_modules
client/.env
comments/.env
posts/.env
users/.env
queries/.env
moderate/.env
eventbus/.env