client/.env
comments/.env
eventbus/.env
moderate/.env
posts/.env
queries/.env
.vscode/
comments/node_modules/
eventbus/node_modules/
infra/k8s/client-depl.yaml
moderate/node_modules/
posts/node_modules/
queries/node_modules/
